header.header
    .container
        .header__inner
            .header__content
                span.header__logo-text akad.
                img.header__menu-img(src="static/images/general/header-menu.png", alt="Меню")
