extends ../layout/main

block variables
	- var title = 'Контакты'
	- var pageClass = 'contact-page'

block content
	include ../sections/about-intro-section
	include ../sections/about-top-block-section
	include ../sections/mini-blog
	include ../sections/services
	include ../sections/mini-blog-2
	include ../sections/photo
	include ../sections/about-comment
	include ../sections/sup-footer