extends ../layout/main

block variables
	- var title = 'Контакты'
	- var pageClass = 'contact-page'

block content
	include ../sections/cp-intro-section
	include ../sections/cp-main-section
	include ../sections/sup-footer