extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../sections/intro1
	include ../sections/choose
	include ../sections/intro3
	include ../sections/intro4
	include ../sections/intro5
	include ../sections/sup-footer