.about-top-block-section__inner
    display flex
    justify-content space-between
    margin-top 140px

    @media (max-width $grid-sm-max)
        margin-top 50px

.about-top-block-section-left-side,
.about-top-block-section-right-side
    width 49%


.about-top-block-section__title
    font-size 14px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    text-transform uppercase
    line-height 1.7

.about-top-block-section__text
    font-size 14px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    line-height 2.1

.margin15
    margin-top 15px
    margin-bottom 15px