.blog-page-main-section
    margin-top 145px

.blog-page-main-section__inner
    display flex
    justify-content space-between

.content
    width 65%

.sidebar
    width 22%

.intro-article__item
    margin-bottom 100px

.intro-article__item-img
    margin-bottom 23px
    width 100%

.intro-article__item-img-date
    font-size 14px
    font-family $font-family-MS
    color rgb(255, 255, 255)
    font-weight 700
    text-transform uppercase
    line-height 3.4
    background-color #7beec7
    padding 10px 20px 10px 10px
    margin-right 20px

.intro-article__item-img-comment,
.intro-article__item-img-like
    font-size 14px
    font-family $font-family-MS
    color rgb(204, 204, 204)
    text-transform uppercase
    line-height 3.4
    position relative
    padding-left 23px
    margin-right 20px
    &:last-child
        margin-right 0

.intro-article__item-img-comment:before
    content ""
    position absolute
    display block
    left 0
    top 2px
    width 14px
    height 15px
    background-image url("../../static/images/content/blog/comment.png")
    background-repeat no-repeat

.intro-article__item-img-like:before
    content ""
    position absolute
    display block
    left 0
    top 2px
    width 16px
    height 14px
    background-image url("../../static/images/content/blog/like.png")
    background-repeat no-repeat

.intro-article__item-title
    margin-top 10px
    // margin-bottom 20px
    font-size 18px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 2.6

.intro-article__item-text
    font-size 14px
    color rgb(153, 153, 153)
    line-height 1.7

.intro-article__item-link-block
    margin-top 30px

.intro-article__item-link
    font-size 14px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1.7
    padding-right 20px
    position relative
    &:after
        content ""
        display block
        position absolute
        right 0
        top 5px
        width 12px
        height 8px
        background-image url("../../static/images/content/blog/right-arrow.png")
        background-repeat no-repeat
        background-size cover
        background-position center


// ------------------search-block-----------------------------
.form-content
    width 100%
    position relative

.searchterm
    // float left
    width 100%
    border none
    font-size 12px
    font-family $font-family-MS
    color rgba(96, 96, 110, 0.502)
    font-weight 700
    text-transform uppercase
    line-height 1.2
    background-color #ececec
    padding 15px

.searchbtn
    position absolute
    right 0
    width 50px
    height 44px
    border none
    cursor pointer
    font-size 12px
    line-height 1.2
    background-color #ececec

.searchbtn__icon
    width 16px
    height 16px
    fill rgba(96, 96, 110, 0.502)


// ------------------search-block--------END---------------------

.posts__title
    font-size 14px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1
    margin-top 40px
    margin-bottom 25px



.posts__content-block-title
    font-size 14px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1.2

.posts__content-block-date,
.panel-collapse__inner-link
    font-size 12px
    font-family $font-family-OS
    color rgb(154, 154, 154)
    line-height 1.5

.posts__content-block
    display flex
    justify-content space-between
    align-items center
    margin-bottom 10px
    &:last-child
        margin-bottom 0

.posts__content-block-img-info
    margin-left 20px

#posts__tabs
    width 100%

.posts__tabs-name-block
    border-bottom 2px solid #e6e6e6

.posts__tab
    position relative
    display inline-block
    font-size 12px
    font-family $font-family-MS
    color rgb(153, 153, 153)
    font-weight 700
    text-transform uppercase
    line-height 1
    padding 10px
    z-index 5

.active-border
    border-bottom 2px solid #7beec7
    color rgb(96, 96, 110)

.posts__content
    position relative
    width 100%
    height 310px
    z-index 4
    padding 30px 10px 10px 10px

.hide
    display none

.show
    display block








.panel-heading
    border-bottom 1px solid #bfbfbf
    position relative

.panel-heading-text
    font-size 14px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    line-height 1.4
    display block
    padding 20px
    z-index 3
    cursor pointer

.panel-heading-text-info
    font-size 13px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    position absolute
    top 50%
    transform translateY(-50%)
    right 20px
    z-index 2

.panel-expand .panel-heading-text-info
    display none

.panel-collapse
    display none

.panel-collapse__inner ul
    margin-top 10px
    padding-left 20px
    li
        position relative
        padding-left 20px
        margin-top 5px
        margin-bottom 5px
        &:before
            content ""
            position absolute
            // fill #7beec7
            top 9px
            left 0
            width 9px
            height 9px
            background-image url("../../static/images/content/blog/link-arrow.png")
            background-repeat no-repeat
            background-position center
            background-size contain
            transition .5s

.panel-collapse__inner-item:hover:before
    transform translateX(4px)


.panel-collapse__inner-link
    font-size 16px

.panel-collapse__inner-link:hover
    color #5a5454
    font-weight 700




.tags-block__inner-list
    display flex
    flex-wrap wrap
    justify-content flex-start

.tags-block__inner-item
    display inline-block
    font-size 12px
    font-family $font-family-MS
    font-weight 700
    color rgb(153, 153, 153)
    text-transform uppercase
    line-height 1
    padding 10px 13px
    background-color #e5e5e5
    margin-top 5px
    margin-right 5px

.grow47
    flex-grow 0
    width 47%