.intro2-section
    text-align center
    margin-top 150px
    margin-bottom 100px
    margin-left 0
    margin-right 0
    color #60606e

    @media (max-width $grid-sm-max)
        margin-top 70px
        margin-bottom 70px

.intro2-section__inner
    width 66%
    margin 0 auto


.intro2-section__info-text
    font-size 14px
    line-height 24px
    margin-top 15px
