.cp-main-section
    margin-top 130px
    margin-bottom 130px

    @media (max-width $grid-xs-max)
        margin-top 50px

.cp-main-section__inner
    display flex
    justify-content space-between

.cp-main-section__left-block,
.cp-main-section__right-block
    width 48%

.cp-main-section__left-block
    @media (max-width $grid-xs-max)
        width 100%

.cp-main-section__right-block
    @media (max-width $grid-xs-max)
        display none

.cp-main-section__right-block img 
    width 100%
    height auto

.cp-main-section__form
    width 100%
    box-sizing border-box
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

.cp-main-section__form-input
    flex-basis 47%

.grow
    flex-grow 1
    width 100%

.cp-main-section__form-input,
.cp-main-section__form-textarea
    border 1px solid #e5e5e5
    padding 20px
    font-size 12px
    font-family $font-family-MS
    color rgb(204, 204, 204)
    font-weight 700
    text-transform uppercase
    line-height 1
    background-color #fefcf9
    outline none
    margin-bottom 30px

.cp-main-section__form-input::placeholder,
.cp-main-section__form-textarea::placeholder
    font-size 12px
    font-family $font-family-MS
    color rgb(204, 204, 204)
    font-weight 700
    text-transform uppercase

.cp-main-section__form-btn
    display inline-block
    outline none
    border none
    font-weight 700
    cursor pointer
    font-size 14px
    line-height 1
    color $white
    background-color #7beec7
    padding 19px 60px
    text-transform uppercase



.bold
    font-weight 700

.cp-main-section__contact-info
    font-size 14px
    font-family $font-family-OS
    color rgb(153, 153, 153)
    line-height 2.1
    margin-top 85px

.cp-main-section__contact-info-title
    font-size 18px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    line-height 2.6

.cp-main-section__contact-info-text
    margin-top 25px
    margin-bottom 25px

.flex-start
    justify-content flex-start

.cp-main-section__contact-info-icons
    margin-top 30px
