.tabs
    display flex
    justify-content space-between
    margin-bottom 145px

    @media (max-width $grid-xs-max)
        margin-bottom 50px

.tabs__left-box
    width 190px

    @media (max-width $grid-lg-max)
        margin-right 50px

.tabs__title
    font-size 30px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1.6

    @media (max-width $grid-xs-max)
        font-size 20px


.tabs__item
    display inline-block
    font-size 14px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 2
    padding-left 20px
    padding-right 20px
    margin-top 20px

    @media (max-width $grid-xs-max)
        font-size 12px

.tabs__item.active
    background-color rgb(123, 238, 199)
    color $white

.tabs__content-inner
    display flex
    justify-content space-between

.tabs__content-inner-row
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 31%;

.tabs__content-img
    width 100%
    margin-bottom 20px


.tabs__content
    display none

.tabs__content.active
    display block