.intro4-section
    text-align center
    margin-top 150px
    margin-bottom 100px
    margin-left 0
    margin-right 0
    color #60606e

.intro4-section__inner
    width 725px
    margin 0 auto

.intro4-section__info-text
    font-size 14px
    line-height 24px
    margin-top 15px