// .intro1-section
//     position relative
.main-view
    padding-top 210px

    @media (max-width $grid-sm-max)
        padding-top 100px

.main-view__title-block
    display flex
    justify-content center
    flex-direction column
    align-items center
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase

.sup-title
    font-size 18px
    line-height 2
    display inline-block
    padding-left 20px
    padding-right 20px
    background-color #7beec7

.main-view__title
    display inline-block
    font-size 48px
    line-height 1
    text-align center
    padding 20px 35px
    border 10px solid rgb(96, 96, 110)

    @media (max-width $grid-xs-max)
        font-size 30px

.main-view__descr
    margin-top 30px
    margin-left auto
    margin-right auto
    max-width 545px
    text-align center

.main-view__descr-text
    line-height 1.5
    font-size 16px

.intro1-section-history
    display flex
    justify-content space-between
    align-items center
    margin-top 120px

    @media (max-width $grid-lg-max)
        align-items flex-start

    @media (max-width $grid-sm-max)
        flex-direction column
        margin-top 70px


.intro1-section-history-img
    width 41%

    @media (max-width $grid-sm-max)
        width 100%
        margin-bottom 30px

.intro1-section-history-image
    width 100%
    height auto

.intro1-section-history
    &__info
        width 49%
        padding-bottom 63px

        @media (max-width $grid-sm-max)
            width 100%

        &-title
            margin-bottom 20px

        &-text
            font-size 16px
            color rgb(96, 96, 110)
            line-height 1.8

.intro1-section-history__info-button-wrapper
    text-align end
    margin-top 25px

.intro1-section-history__info-button
    outline none