.mini-blog
    margin-top 100px
    margin-bottom 100px

.mini-blog__inner
    text-align center
    width 730px
    margin 0 auto

.mini-blog__info-text
    font-size 14px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    line-height 1.7
    margin-top 10px

