.photo-block
    display flex
    justify-content space-between
    flex-wrap wrap
    img 
        margin-bottom 30px

    @media (max-width $grid-sm-max)
        justify-content center

.photo-descr
    background-color #efeff0
    padding 30px 50px
    display flex
    justify-content space-between
    align-items center

.photo-descr-text
    display inline-block
    font-size 18px
    color rgb(96, 96, 110)
    line-height 2.6

    @media (max-width $grid-xs-max)
        display none

.lh-1
    line-height 1


.intro1-section-history__info-button
    @media (max-width $grid-xs-max)
        width 100%
        text-align center