.services-bottom-section__items
    display flex
    justify-content space-between
    margin-bottom 140px

.services-bottom-section__item
    position relative
    width 31%
    padding-left 30px
    padding-top 30px
    border-top 5px solid #7beec7

.services-bottom-section__item:hover
    box-shadow 0px 0px 50px 0px rgba(0, 0, 0, 0.25)

.services-bottom-section__item-edge-img
    position absolute
    top 0
    right 0


.services-bottom-section__item-title
    font-size 30px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1.6
    margin-bottom 15px

.services-bottom-section__item-text
    font-size 14px
    font-family $font-family-MS
    color rgb(255, 255, 255)
    font-weight 700
    text-transform uppercase
    line-height 1
    padding 10px 20px
    background-color #7beec7

.services-bottom-section__item-list
    margin-top 47px

.services-bottom-section__item-link
    display inline-block
    font-size 14px
    font-family $font-family-MS
    color rgb(255, 255, 255)
    text-transform uppercase
    line-height 1
    padding 20px
    background-color #7beec7
    margin-bottom 40px
    margin-top 50px

