
.services__items
    display flex
    justify-content space-between
    flex-wrap wrap

.services__item
    width 370px
    margin-bottom 50px

.services__item-top-block
    display flex
    align-items center
    margin-bottom 20px

.services__item-title
    font-size 18px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 2.6
    margin-left 20px

.services__item-descr
    font-size 14px
    font-family $font-family-OS
    color rgb(96, 96, 110)
    line-height 2.1

