.services-middle-section
    margin-top 140px

.services-middle-section__items
    display flex
    justify-content space-between

.services-middle-section__item
    width 21%
    text-align center

.services-middle-section__item-icon
    display inline-flex
    justify-content center
    align-items center
    position relative
    padding-left 7px
    z-index 3
    height 48px

.services-middle-section__item-icon:before
    content ""
    display block
    position absolute
    width 50px
    height 20px
    background-color #7beec7
    bottom 0
    left 0
    z-index -1

.services-middle-section__item-title
    font-size 18px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    line-height 1.6
    margin-top 25px
    margin-bottom 15px

.services-middle-section__item-text
    font-size 14px
    font-weight $font-family-OS
    color rgb(96, 96, 110)
    line-height 2.1


