.sup-footer__bg
    background-color #7beec7

.sup-footer__inner
    display flex
    justify-content space-between
    padding-top 60px
    padding-bottom 45px

.sup-footer__left-block
    width 535px

.sup-footer__right-block
    width 560px
    background-color $white
    padding 20px 25px

.intro6-title
    font-size 30px
    font-family $font-family-MS
    color rgb(255, 255, 255)
    line-height 1.6
    text-transform uppercase

.sup-footer__btn
    display inline-block
    font-size 14px
    font-family $font-family-MS
    color rgb(123, 238, 199)
    background-color $white
    font-weight 700
    text-transform uppercase
    line-height 1.2
    padding 20px 30px
    margin-top 30px


.sup-footer__right-block-form
    width 510px
    margin-top 30px

.sup-footer__right-block-title
    font-size 24px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    line-height 1.5
    text-transform uppercase

.sup-footer__right-block-text
    font-size 16px
    color rgb(153, 153, 153)
    line-height 1.5

.sup-footer__input
    width 375px
    font-size 12px
    color rgb(205, 205, 205)
    line-height 1
    padding: 20px

.sup-footer__right-block-btn
    width 125px
    cursor pointer
    background-color #7beec7
    font-size 14px
    color $white
    left -5px
    line-height 1
    padding 20px 20px 21px 20px

.sup-footer__input,
.sup-footer__right-block-btn
    font-family "Montserrat"
    display inline-block
    box-sizing border-box
    position relative
    font-weight 700
    text-transform uppercase
    outline none
    border 1px solid #e5e5e5
