.sup-footer__bg
    background-color #7beec7

.sup-footer__inner
    display flex
    justify-content space-between
    padding-top 60px
    padding-bottom 45px

    @media (max-width $grid-xs-max)
        flex-direction column
        padding-top 25px

.sup-footer__left-block
    width 48%

    @media (max-width $grid-xs-max)
        width 100%
        text-align center

.sup-footer__right-block
    width 51%
    background-color $white
    padding 20px 25px

    @media (max-width $grid-xs-max)
        width 100%

.intro6-title
    font-size 30px
    font-family $font-family-MS
    color rgb(255, 255, 255)
    line-height 1.6
    text-transform uppercase

.sup-footer__btn
    display inline-block
    font-size 14px
    font-family $font-family-MS
    color rgb(123, 238, 199)
    background-color $white
    font-weight 700
    text-transform uppercase
    line-height 1.2
    padding 20px 30px
    margin-top 30px
    cursor pointer

    @media (max-width $grid-xs-max)
        display block
        text-align center
        margin-bottom 10px
        margin-top 15px


.sup-footer__right-block-form
    width 100%
    margin-top 30px

    @media (max-width $grid-xs-max)
        margin-top 20px

.sup-footer__right-block-title
    font-size 24px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    line-height 1.5
    text-transform uppercase

    @media (max-width $grid-xs-max)
        text-align center
        margin-bottom 10px

.sup-footer__right-block-text
    font-size 16px
    color rgb(153, 153, 153)
    line-height 1.5

.sup-footer__input
    width 75%
    font-size 12px
    color rgb(205, 205, 205)
    line-height 1
    padding: 20px

    @media (max-width $grid-md-max)
        display block
        width 98%
        margin-bottom 5px

.sup-footer__right-block-btn
    width 23%
    cursor pointer
    background-color #7beec7
    font-size 14px
    color $white
    left -5px
    line-height 1
    padding 20px 20px 21px 20px

    @media (max-width $grid-md-max)
        display block
        width 98%
        margin-left 5px

.sup-footer__input,
.sup-footer__right-block-btn
    font-family "Montserrat"
    display inline-block
    box-sizing border-box
    position relative
    font-weight 700
    text-transform uppercase
    outline none
    border 1px solid #e5e5e5
