.general-title
    display inline-block
    font-size 30px
    font-family $font-family-MS
    color rgb(96, 96, 110)
    font-weight 700
    text-transform uppercase
    line-height 1.6
    position relative
    &:before
        content ""
        position absolute
        left 1px
        bottom 5px
        width 67px
        height 21px
        background-color rgb(123, 238, 199)
        z-index -1
        @media (max-width $grid-xs-max)
            width 44px
            height 11px

    @media (max-width $grid-xs-max)
        font-size 20px

.btn
    color $white
    background-color rgb(123, 238, 199)
    font-size 14px
    font-family $font-family-MS
    font-weight 700
    line-height 3.4
    text-transform uppercase
    padding 20px 40px


