.header
    position absolute
    z-index 10
    left 0
    right 0

.index-page-header-bg
    // background-image url("../images/general/header-index-page-bg.jpg")
    background-repeat no-repeat
    background-size cover
    background-position center
    // position absolute
    // height 850px
    width 100%

.header__content
    display flex
    justify-content space-between
    align-items center

.header__logo-text
    color #60606e
    font-family $font-family-MS
    font-size 18px
    line-height 48px
    font-weight 700
    text-transform uppercase

.header__menu-img
    width 31px
    height 15px


// @media (max-width: )