section.about-comment
    .container
        .about-comment__inner
            .about-comment__slider-block
                .about-comment__slider
                    .about-comment__slider-item
                        .about-comment__author-photo
                            img.about-comment__slider-img(src="../../static/images/content/about/slider-photo.png", alt="")
                        .about-comment__author-comment Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
                        .about-comment__author-name john doe
                    .about-comment__slider-item
                        .about-comment__author-photo
                            img.about-comment__slider-img(src="../../static/images/content/about/slider-photo.png", alt="")
                        .about-comment__author-comment Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
                        .about-comment__author-name johniii doe
                    .about-comment__slider-item
                        .about-comment__author-photo
                            img.about-comment__slider-img(src="../../static/images/content/about/slider-photo.png", alt="")
                        .about-comment__author-comment Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
                        .about-comment__author-name john doe
                    .about-comment__slider-item
                        .about-comment__author-photo
                            img.about-comment__slider-img(src="../../static/images/content/about/slider-photo.png", alt="")
                        .about-comment__author-comment Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
                        .about-comment__author-name john doe
                //- dots for slick slide -----start
                .about-comment__slider-dots
                //- dots for slick slide -----end
            .about-comment__sponsors
                img(src="../../static/images/content/about/sponsors-photo-1.jpg", alt="")
                img(src="../../static/images/content/about/sponsors-photo-2.jpg", alt="")
                img(src="../../static/images/content/about/sponsors-photo-3.jpg", alt="")
                img(src="../../static/images/content/about/sponsors-photo-4.jpg", alt="")
                img(src="../../static/images/content/about/sponsors-photo-5.jpg", alt="")
                img(src="../../static/images/content/about/sponsors-photo-6.jpg", alt="")