section.blog-page-main-section
    .container
        .blog-page-main-section__inner
            .content
                article.info-article
                    .intro-article__item
                        img.intro-article__item-img(src="../../static/images/content/blog/blog-article-photo.jpg", alt="")
                        .intro-article__item-img-data
                            span.intro-article__item-img-date October 13, 2015
                            span.intro-article__item-img-comment 8
                            span.intro-article__item-img-like 15
                        .intro-article__item-title THE BIG LEAGUES OUR TURN STRAIGHTNIN
                        .intro-article__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        .intro-article__item-link-block
                            a.intro-article__item-link(href="#") continue reading
                article.info-article
                    .intro-article__item
                        img.intro-article__item-img(src="../../static/images/content/blog/blog-article-photo.jpg", alt="")
                        .intro-article__item-img-data
                            span.intro-article__item-img-date October 13, 2015
                            span.intro-article__item-img-comment 8
                            span.intro-article__item-img-like 15
                        .intro-article__item-title THE BIG LEAGUES OUR TURN STRAIGHTNIN
                        .intro-article__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        .intro-article__item-link-block
                            a.intro-article__item-link(href="#") continue reading
                article.info-article
                    .intro-article__item
                        img.intro-article__item-img(src="../../static/images/content/blog/blog-article-photo.jpg", alt="")
                        .intro-article__item-img-data
                            span.intro-article__item-img-date October 13, 2015
                            span.intro-article__item-img-comment 8
                            span.intro-article__item-img-like 15
                        .intro-article__item-title THE BIG LEAGUES OUR TURN STRAIGHTNIN
                        .intro-article__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        .intro-article__item-link-block
                            a.intro-article__item-link(href="#") continue reading

            .sidebar
                .sidebar__inner
                    form.form-content
                        input.searchterm(type="search" placeholder="Search...")
                        button.searchbtn(type="submit")
                            +icon('search-icon','searchbtn__icon')
                                img.searchbtn__icon(src="../../static/images/svg/search-icon.svg", alt="")

                    .posts
                        .posts__title posts
                        #posts__tabs
                            .posts__tabs-name-block
                                .posts__tab.active-border latest
                                .posts__tab popular
                                .posts__tab comments
                            .posts__content
                                .posts__content-block
                                    img(src="../../static/images/content/blog/sidebar-photo-1.jpg", alt="")
                                    .posts__content-block-img-info
                                        .posts__content-block-title Magna mollis ultricies
                                        .posts__content-block-date 3th oct 2012
                                .posts__content-block
                                    img(src="../../static/images/content/blog/sidebar-photo-2.jpg", alt="")
                                    .posts__content-block-img-info
                                        .posts__content-block-title Magna mollis ultricies
                                        .posts__content-block-date 3th oct 2012
                                .posts__content-block
                                    img(src="../../static/images/content/blog/sidebar-photo-3.jpg", alt="")
                                    .posts__content-block-img-info
                                        .posts__content-block-title Magna mollis ultricies
                                        .posts__content-block-date 3th oct 2012
                            .posts__content someContent111222
                            .posts__content someContent111222333

                        .posts__title categories
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Business
                                span.panel-heading-text-info 15
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Photography
                                span.panel-heading-text-info 17
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Journal
                                span.panel-heading-text-info 22
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Web devlopment
                                span.panel-heading-text-info 33
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText

                        .posts__title tags
                        .tags-block
                            .tags-block__inner
                                ul.tags-block__inner-list
                                    li.tags-block__inner-item css
                                    li.tags-block__inner-item javascript
                                    li.tags-block__inner-item jquery
                                    li.tags-block__inner-item html5
                                    li.tags-block__inner-item.grow47 bootstrap
                                    li.tags-block__inner-item css
                                    li.tags-block__inner-item javascript
                                    li.tags-block__inner-item jquery

                        .posts__title archives
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Business
                                span.panel-heading-text-info 15
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Photography
                                span.panel-heading-text-info 17
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Journal
                                span.panel-heading-text-info 22
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                        .panel
                            .panel-heading.panel-expand
                                p.panel-heading-text Web devlopment
                                span.panel-heading-text-info 33
                            .panel-collapse
                                .panel-collapse__inner
                                    ul
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
                                        li.panel-collapse__inner-item
                                            a.panel-collapse__inner-link(href="#") someText
