section.cp-main-section
    .container
        .cp-main-section__inner
            .cp-main-section__left-block
                .cp-main-section__form-block
                    form.cp-main-section__form
                        input.cp-main-section__form-input(type="text" placeholder="your name")
                        input.cp-main-section__form-input(type="email" placeholder="your email")
                        input.cp-main-section__form-input.grow(type="text" placeholder="object")
                        textarea.cp-main-section__form-textarea.grow(name="", cols="30", rows="10" placeholder="message")
                        input.cp-main-section__form-btn(type="submit" value="send")
                .cp-main-section__contact-info
                    .cp-main-section__contact-info-title CONTACT INFO
                    .cp-main-section__contact-info-text Lorem ipsum dolor sit amet, conse adipisicing elit. Libero incidunt quod ab mollitia quia dolorum conse.
                    ul.cp-main-section__contact-info-list
                        li.cp-main-section__contact-info-item 13D, Functional apartment, Unique colony, 
                        li.cp-main-section__contact-info-item Agadir 86360 
                        li.cp-main-section__contact-info-item +212 124-566-780 
                        li.cp-main-section__contact-info-item +212 124-566-780
                        li.cp-main-section__contact-info-item.bold email@website.com
                    .cp-main-section__contact-info-icons
                        ul.footer-bottom-nav__list.flex-start
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('instagram','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/instagram.svg", alt="")
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('facebook','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/facebook.svg", alt="")
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('twitter','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/twitter.svg", alt="")
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('youtube','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/youtube.svg", alt="")
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('linkedin','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/linkedin.svg", alt="")
                            li.footer-bottom-nav__item
                                a.footer-bottom-nav__link(href="#")
                                    +icon('path','footer-bottom-nav__icon')
                                    img.footer-bottom-nav__icon(src="../../../static/images/svg/path.svg", alt="")
            .cp-main-section__right-block
                img(src="../../static/images/general/contact-info-map.jpg", alt="")