section.intro4-section
    .container
        .intro4-section__inner
            h2.intro4-section__title.general-title our portfolio
            p.intro4-section__info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.