section.choose-category
    .container
        .tabs
            .tabs__left-box
                ul.tabs__caption
                    h2.tabs__title
                        | Choose
                        br
                        |  category
                    li.tabs__item.active All
                    li.tabs__item webdesign
                    li.tabs__item graphic design
                    li.tabs__item fashion
                    li.tabs__item logo design
                    li.tabs__item advertising
            .tabs__right-box
                .tabs__content.active
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab1.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab4.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab7.jpg", alt="")
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab2.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab5.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab9.jpg", alt="")
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab3.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab6.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab8.jpg", alt="")
                .tabs__content
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab1.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab4.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab7.jpg", alt="")
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab2.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab5.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab9.jpg", alt="")
                .tabs__content
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab1.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab4.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab7.jpg", alt="")
                .tabs__content
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab2.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab5.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab9.jpg", alt="")
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab3.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab6.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab8.jpg", alt="")
                .tabs__content
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab2.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab5.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab9.jpg", alt="")
                .tabs__content
                    .tabs__content-inner
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab2.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab5.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab9.jpg", alt="")
                        .tabs__content-inner-row
                            img.tabs__content-img(src="../../static/images/content/tab3.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab6.jpg", alt="")
                            img.tabs__content-img(src="../../static/images/content/tab8.jpg", alt="")