section.intro3-section
    .container
        .intro3-section__inner
            .intro3-section__inner-left-box
                .intro3__item
                    .intro3__item-icon
                        img.intro3__item-icon-img(src="../../static/images/general/const-icon.png", alt="Иконка горизонтальной восьмерки")
                    h3.intro3__item-title unlimited options
                    ul.intro3__item-list
                        li.intro3__item-marker Branding
                        li.intro3__item-marker Design &amp; Copywriting
                        li.intro3__item-marker Concept development
                        li.intro3__item-marker User Experience
                .intro3__item
                    .intro3__item-icon
                        img.intro3__item-icon-img(src="../../static/images/general/random-icon.png", alt="Иконка горизонтальной восьмерки")
                    h3.intro3__item-title DESIGN &amp; DEVELOPMENT
                    ul.intro3__item-list
                        li.intro3__item-marker Information architecture
                        li.intro3__item-marker Interface design
                        li.intro3__item-marker Product Design
                        li.intro3__item-marker Integrated ad Companies
                .intro3__item
                    .intro3__item-icon
                        img.intro3__item-icon-img(src="../../static/images/general/basket-icon.png", alt="Иконка горизонтальной восьмерки")
                    h3.intro3__item-title e-commerce
                    ul.intro3__item-list
                        li.intro3__item-marker Prototyping
                        li.intro3__item-marker Technical Consulting
                        li.intro3__item-marker Web applications
                        li.intro3__item-marker Quality testing
                .intro3__item
                    .intro3__item-icon
                        img.intro3__item-icon-img(src="../../static/images/general/custom-icon.png", alt="Иконка горизонтальной восьмерки")
                    h3.intro3__item-title CUSTOMIZABLE DESIGN
                    ul.intro3__item-list
                        li.intro3__item-marker Information architecture
                        li.intro3__item-marker Interface design
                        li.intro3__item-marker Product Design
                        li.intro3__item-marker Integrated ad Companies
            .intro3-section__inner-right-box
                img.intro3-img(src="../../static/images/content/intro3-img.jpg", alt="Картинка")

                
