section.intro1-section.index-page-header-bg(style="background-image: url(static/images/general/header-index-page-bg.jpg)")
    .container
        .main-view
            .main-view__title-block
                .sup-title we’re
                h1.main-view__title creative agency
            .main-view__descr
                p.main-view__descr-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .intro1-section-history
            .intro1-section-history-img
                img.intro1-section-history-image(src="static/images/content/intro1-img.jpg", alt="Картинка")
            .intro1-section-history__info
                h2.intro1-section-history__info-title.general-title HISTORY OF AGENCY
                p.intro1-section-history__info-text Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.
                .intro1-section-history__info-button-wrapper
                    a.intro1-section-history__info-button.btn(href="#") read more