section.mini-blog
    .container
        .mini-blog__inner
            h2.mini-blog__title.general-title THE DREAM TEAM
            p.mini-blog__info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.