section.photo
    .container
        .photo__inner
            .photo-block
                img(src="../../static/images/content/about/photo-1.jpg", alt="")
                img(src="../../static/images/content/about/photo-2.jpg", alt="")
                img(src="../../static/images/content/about/photo-3.jpg", alt="")
                img(src="../../static/images/content/about/photo-4.jpg", alt="")
                img(src="../../static/images/content/about/photo-5.jpg", alt="")
                img(src="../../static/images/content/about/photo-6.jpg", alt="")
                img(src="../../static/images/content/about/photo-7.jpg", alt="")
                img(src="../../static/images/content/about/photo-8.jpg", alt="")
            .photo-descr
                p.photo-descr-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                a.intro1-section-history__info-button.btn.lh-1(href="#") read more