section.services-middle-section
    .container
        .services-middle-section__inner
            .services-middle-section__items
                .services-middle-section__item
                    .services-middle-section__item-icon
                        img(src="../../static/images/content/services/services-middle-block-icon-1.png", alt="")
                    .services-middle-section__item-title KEEP PULSE GOING
                    .services-middle-section__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                .services-middle-section__item
                    .services-middle-section__item-icon
                        img(src="../../static/images/content/services/services-middle-block-icon-2.png", alt="")
                    .services-middle-section__item-title PASS THE LIMITS
                    .services-middle-section__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                .services-middle-section__item
                    .services-middle-section__item-icon
                        img(src="../../static/images/content/services/services-middle-block-icon-3.png", alt="")
                    .services-middle-section__item-title GREAT IDEAS
                    .services-middle-section__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                .services-middle-section__item
                    .services-middle-section__item-icon
                        img(src="../../static/images/content/services/services-middle-block-icon-4.png", alt="")
                    .services-middle-section__item-title AWESOME SUPPORT
                    .services-middle-section__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.