section.services-bottom-section
    .container
        .services-bottom-section__inner
            .services-bottom-section__items
                .services-bottom-section__item
                    img.services-bottom-section__item-edge-img(src="../../static/images/content/services/item-edge.png", alt="")
                    .services-bottom-section__item-title BASIC
                    span.services-bottom-section__item-text $35.99 Monthly
                    ul.services-left-block-descr__list.services-bottom-section__item-list
                        li.services-left-block-descr__item.services-bottom-section__item-mark Lorem ipsum dolor sit amet
                        li.services-left-block-descr__item.services-bottom-section__item-mark Consectetuer adipiscing elit
                        li.services-left-block-descr__item.services-bottom-section__item-mark Sed diam nonummy
                        li.services-left-block-descr__item.services-bottom-section__item-mark Nibh euismod tincidunt
                        li.services-left-block-descr__item.services-bottom-section__item-mark Ut laoreet dolore
                        li.services-left-block-descr__item.services-bottom-section__item-mark Magna aliquam erat volutpat
                    a.services-bottom-section__item-link(href="#") get started
                .services-bottom-section__item
                    img.services-bottom-section__item-edge-img(src="../../static/images/content/services/item-edge.png", alt="")
                    .services-bottom-section__item-title ADVANCED 
                    span.services-bottom-section__item-text $55.99 Monthly
                    ul.services-left-block-descr__list.services-bottom-section__item-list
                        li.services-left-block-descr__item.services-bottom-section__item-mark Lorem ipsum dolor sit amet
                        li.services-left-block-descr__item.services-bottom-section__item-mark Consectetuer adipiscing elit
                        li.services-left-block-descr__item.services-bottom-section__item-mark Sed diam nonummy
                        li.services-left-block-descr__item.services-bottom-section__item-mark Nibh euismod tincidunt
                        li.services-left-block-descr__item.services-bottom-section__item-mark Ut laoreet dolore
                        li.services-left-block-descr__item.services-bottom-section__item-mark Magna aliquam erat volutpat
                    a.services-bottom-section__item-link(href="#") get started
                .services-bottom-section__item
                    img.services-bottom-section__item-edge-img(src="../../static/images/content/services/item-edge.png", alt="")
                    .services-bottom-section__item-title smart
                    span.services-bottom-section__item-text $75.99 Monthly
                    ul.services-left-block-descr__list.services-bottom-section__item-list
                        li.services-left-block-descr__item.services-bottom-section__item-mark Lorem ipsum dolor sit amet
                        li.services-left-block-descr__item.services-bottom-section__item-mark Consectetuer adipiscing elit
                        li.services-left-block-descr__item.services-bottom-section__item-mark Sed diam nonummy
                        li.services-left-block-descr__item.services-bottom-section__item-mark Nibh euismod tincidunt
                        li.services-left-block-descr__item.services-bottom-section__item-mark Ut laoreet dolore
                        li.services-left-block-descr__item.services-bottom-section__item-mark Magna aliquam erat volutpat
                    a.services-bottom-section__item-link(href="#") get started

