section.services-top-section
    .container
        .services-top-section__inner
            .services-left-block-descr
                .services-left-block-descr__inner
                    p.services-left-block-descr__text Erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
                    .services-left-block-descr__list-wrapper
                        ul.services-left-block-descr__list
                            li.services-left-block-descr__item Stunning on all screens
                            li.services-left-block-descr__item Easy to customize
                            li.services-left-block-descr__item Make a difference
                            li.services-left-block-descr__item Imagine and create
                            li.services-left-block-descr__item Unlimited possibilities
                        ul.services-left-block-descr__list
                            li.services-left-block-descr__item Remarkable style
                            li.services-left-block-descr__item Captivating presentations
                            li.services-left-block-descr__item Make your portfolio pop
                            li.services-left-block-descr__item Words that matter
                            li.services-left-block-descr__item Satisfied clients
            .services-right-block-img
                img.services-right-block-image(src="../../static/images/content/services/services-img.png", alt="")
