section.services
    .container
        .services__inner
            .services__items
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-1.png", alt="")
                        .services__item-title FULLY RESPONSIVE
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-2.png", alt="")
                        .services__item-title UNLIMITED OPTIONS
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-3.png", alt="")
                        .services__item-title WORDPRESS
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-4.png", alt="")
                        .services__item-title e-commerce
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-5.png", alt="")
                        .services__item-title CUSTOMIZABLE DESIGN
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
                .services__item
                    .services__item-top-block
                        .services__item-icon
                            img(src="../../static/images/general/services-icon-6.png", alt="")
                        .services__item-title SUPPORT
                    .services__item-descr Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
