section.intro-section(style="background-image: url(static/images/general/header-general-page-bg.jpg)")
    .container
        .intro
            h1.intro__title our services
            .intro__descr home / services