section.sup-footer
    .sup-footer__bg
        .container
            .sup-footer__inner
                .sup-footer__left-block
                    h2.intro6-title YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
                    a.sup-footer__btn get in touch
                .sup-footer__right-block
                    h2.sup-footer__right-block-title
                        | STAY INFORMED WITH OUR
                        br
                        |NEWSLETTER
                    p.sup-footer__right-block-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    form.sup-footer__right-block-form
                        input.sup-footer__input(type="email" name="login" placeholder="your email")
                        input.sup-footer__right-block-btn(type="submit" name="" value="send")
