footer.footer
    .container
        .footer__inner
            .footer__inner-top
                nav.footer__nav.footer-nav
                    ul.footer-nav__list
                        li.footer-nav__item
                            a.footer-nav__link(href="#") home
                        li.footer-nav__item
                            a.footer-nav__link(href="#") about us
                        li.footer-nav__item
                            a.footer-nav__link(href="#") services
                        li.footer-nav__item
                            a.footer-nav__link(href="#") portfolio
                        li.footer-nav__item
                            a.footer-nav__link(href="#") blog
                        li.footer-nav__item
                            a.footer-nav__link(href="#") contact us 11112
                p.copyright Created by akhouad 2016. All Rights Reserved

            .footer__inner-bottom
                nav.footer__inner-bottom-nav.footer-bottom-nav
                    ul.footer-bottom-nav__list
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('instagram','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/instagram.svg", alt="")
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('facebook','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/facebook.svg", alt="")
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('twitter','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/twitter.svg", alt="")
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('youtube','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/youtube.svg", alt="")
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('linkedin','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/linkedin.svg", alt="")
                        li.footer-bottom-nav__item
                            a.footer-bottom-nav__link(href="#")
                                +icon('path','footer-bottom-nav__icon')
                                img.footer-bottom-nav__icon(src="../../../static/images/svg/path.svg", alt="")